
.button {
  background-color: rgba(122,55,139,0.4) !important;
  padding: 25px !important;
  border-radius: 15px !important;
  border-width: 1px !important;
  border-style: solid;
  border-color: rgba(256, 256, 256, 0.2) !important;
  font-size: 0.6rem !important;
}

.top-bar {
  background: rgba(0, 0, 0, 0) !important;
}