@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,700|Julius+Sans+One|Philosopher|Muli);
.rel-container {
  width: 100%;
  height: 100%;
  position: absolute !important;
  overflow: hidden;
  down: 200px;
}

#circle-out {
  position: absolute !important;
  overflow: hidden !important;
  left: 200px;
  down: -500px;
  width: 1200px;
  height: 1200px;
  background: #eee;
  border-radius: 100%;
}

#circle-in {
  position: absolute !important;
  overflow: hidden !important;
  left: 200px;
  down: -500px;
  width: 1125px;
  height: 1125px;
  background: #fff;
  border-radius: 100%;
}

.header {
  font-weight: 700;
  margin-top: 80px !important;
  margin-bottom: 25px !important;
}
@media only screen and (min-width: 40em) {
  .header {
    margin-top: 120px !important;
  }
}
@media only screen and (min-width: 64em) {
  .header {
    margin-top: 200px !important;
  }
}

p {
  text-align: justify;
}

.thicker {
  letter-spacing: 2px !important;
}

.light {
  font-weight: 300 !important;
  font-size: 0.85rem !important;
}
@media only screen and (min-width: 64em) {
  .light {
    font-size: 1.25rem !important;
  }
}

.font-primary {
  font-family: 'Open Sans', sans-serif !important;
  color: #fff !important;
}

.font-secondary {
  font-family: 'Lora', sans-serif !important;
  color: #fff;
}

html {
  font-size: 24px !important;
}

h1 {
  font-size: 2rem !important;
}
@media only screen and (min-width: 64em) {
  h1 {
    font-size: 2.5rem !important;
  }
}

h2 {
  font-size: 1.5rem !important;
}
@media only screen and (min-width: 64em) {
  h2 {
    font-size: 1.875rem !important;
  }
}

p {
  font-size: 1rem !important;
  text-align: justify;
}
@media only screen and (min-width: 64em) {
  p {
    font-size: 1.25rem !important;
  }
}

.button {
  background-color: rgba(122, 55, 139, 0.8) !important;
  padding: 25px !important;
  border-radius: 15px !important;
  border-width: 1px !important;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2) !important;
  font-size: 0.6rem !important;
}

.top-bar {
  background: transparent !important;
}

.hero {
  height: 600px !important;
  position: relative;
}

.div-background {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1 !important;
  display: block;
  -webkit-filter: brightness(40%) blur(0.5px);
          filter: brightness(40%) blur(0.5px);
  background: url("../images/somber.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.div-content {
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  height: 100%;
}
